@model dynamic

@{
    int Id = Model.Id;
    int CollectionId = Model.CollectionId;
}


<a 
    asp-action="Items" 
    asp-controller="ProfileCollectionItems" 
    asp-route-collectionId="@CollectionId"
    asp-route-itemId="@Id"
    class="btn btn-sm btn-outline-info"
>
    @Resource.Details
</a>

<a 
    asp-action="Edit" 
    asp-controller="ProfileCollectionItems" 
    asp-route-itemId="@Id"
    asp-route-collectionId="@CollectionId"
    class="btn btn-sm btn-outline-secondary"
>
    @Resource.Edit
</a>

<a asp-action="Delete"
   asp-controller="ProfileCollectionItems"
   asp-route-itemId="@Id"
   asp-route-collectionId="@CollectionId"
   class="btn btn-sm btn-outline-danger"
>
    @Resource.Delete
</a>





