@model dynamic

@{
    int Id = Model.Id;
    int CollectionId = Model.CollectionId;
}


<a 
    asp-action="Items" 
    asp-controller="ProfileCollectionItems" 
    asp-route-collectionId="@CollectionId"
    asp-route-id="@Id"
>
    Details
</a>

<a 
    asp-action="Edit" 
    asp-controller="ProfileCollectionItems" 
    asp-route-id="@Id"
    asp-route-collectionId="@CollectionId"
>
    Edit
</a>

<a asp-action="Delete"
   asp-controller="ProfileCollectionItems"
   asp-route-id="@Id"
   asp-route-collectionId="@CollectionId"
   class="text-danger"
>
   Delete
</a>





