@model JiraResponse

<div class="container">

    <div class="card shadow min_width-567">
        <div class="card-header bg-primary text-white position-relative">
            <h1 class="text-center">@Resource.Tickets</h1>
        </div>
        <div class="card-body">
            <table id="itemList" class="table table-sm table-striped" style="font-size:15px;">
                <thead>
                    <tr>
                        <th>@Resource.Key</th>
                        <th>@Resource.Summary</th>
                        <th>@Resource.Priority</th>
                        <th>@Resource.Status</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach(var issue in Model.Issues)
                    {
                        <tr>
                            <td><span class="badge rounded-pill bg-primary">@issue.Key</span></td>
                            <td>@issue.Fields.Summary</td>
                            <td><span class="badge rounded-pill bg-light">@issue.Fields.Priority.Name</span></td>
                            <td><span class="badge rounded-pill bg-light">@issue.Fields.Status.Name</span></td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
    </div>
</div>
