@model CollectionManager.Models.CollectionModel

@{
    ViewData["Title"] = "Delete";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow">
                <div class="card-header bg-warning text-white">
                    <h1 class="text-center">@Resource.Areyousure?</h1>
                </div>
                <div class="card-body">

                    <div>
                        <div class="px-3">
                            <dl class="row">
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.Name):
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.Name)
                                </dd>
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.Description):
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.Description)
                                </dd>
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.Category):
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.Category)
                                </dd>
                                
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.UserId):
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.UserId)
                                </dd>
                            </dl>
                        </div>

                        <form asp-action="DeleteConfirmed" asp-route-userId="@Model.UserId">
                            <input type="hidden" asp-for="Id" />
                            <div class="d-flex flex-column flex-sm-row gap-1 justify-content-center align-items-center">
                                <button type="submit" class="btn btn-danger w-50">@Resource.Delete</button>
                                <a asp-action="Index" asp-controller="ProfileCollections" class="btn btn-dark w-50">@Resource.BackToList</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
