@model SearchResultModel
<h2 class="text-center text-primary mb-3">@Resource.SearchResult</h2>

<div class="container">
    <div class="d-flex justify-content-center row">
        @if(Model.Items.Count == 0 && Model.Collections.Count == 0)
        {
            <div class="d-flex justify-content-center align-items-center" style="height:80vh;">
                <h3 class="text-dark">@Resource.Noresultfound</h3>
            </div>
        }
        <div class="col-md-9">
            @foreach(var item in Model.Items)
            {
                <div class="card bg-white rounded-0 mb-2" style="font-size: 14px;">
                    <div class="card-body p-2">
                        <div class="text-warning" style="font-size:12px;">[@Resource.Item]</div>
                        <div>
                            <p class="text-black-50 text-truncate mb-0">
                                <span class="text-info me-1">Name:</span>
                                <a asp-action="Items"
                                   asp-controller="Collections"
                                   asp-route-collectionId="@item.CollectionId"
                                   asp-route-id="@item.Id">
                                   @item.Name
                                </a>
                            </p>
                        </div>
                        
                        <div>
                            <p class="text-black-50 text-truncate mb-0">
                                <span class="text-info me-1">Collection:</span>
                                <a asp-action="Collection"
                                   asp-controller="Collections"
                                   asp-route-id="@item.CollectionId">
                                    @item.CollectionName
                                </a>
                            </p>
                        </div>
                        <div>
                            <p class="text-black-50 text-truncate mb-0">
                                <span class="text-info me-1">Like:</span>
                                @item.LikeCount
                            </p>
                        </div>
                        <div>
                            <p class="text-black-50 text-truncate mb-0">
                                <span class="text-info me-1">Comment:</span>
                                @item.CommentCount
                            </p>
                        </div>
                    </div>
                </div>
            }
           
            @foreach(var collection in Model.Collections)
            {
                <div class="card bg-white rounded-0 mb-2" style="font-size: 14px;">
                    <div class="card-body p-2">
                        <div class="text-warning" style="font-size:12px;">[@Resource.Collection]</div>
                        <div>
                            <p class="text-black-50 text-truncate mb-0">
                                <span class="text-info me-1">Name:</span>
                                <a asp-action="Collection"
                                   asp-controller="Collections"
                                   asp-route-id="@collection.Id">
                                   @collection.Name
                                </a>
                            </p>
                        </div>
                        <div>
                            <p class="text-black-50 text-truncate mb-0">
                                <span class="text-info me-1">Description:</span>
                                @collection.Description
                            </p>
                        </div>
                        <div>
                            <p class="text-black-50 text-truncate mb-0">
                                <span class="text-info me-1">Item:</span>
                                @collection.ItemCount
                            </p>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

