@model List<UserWithSelectFlagModel> 

<div class="container">
    <div class="card shadow bordered" style="min-width:768px;">
        <div class="header bg-primary">
            <h1 class="text-white text-center">Users</h1>
        </div>
        <div class="card-body">
            <form asp-action="PerformAdminAction" method="post">
                <div class="mb-2">
                    <button class="btn btn-sm btn-primary" type="submit" name="operation" value="block">Block</button>
                    <button class="btn btn-sm btn-outline-primary" type="submit" name="operation" value="unblock">Unblock</button>
                    <button class="btn btn-sm btn-danger" type="submit" name="operation" value="delete">Delete</button>
                    <button class="btn btn-sm btn-info" type="submit" name="operation" value="add_to_admin">Add to admin</button>
                    <button class="btn btn-sm btn-outline-info" type="submit" name="operation" value="remove_from_admin">Remove from admin</button>

                </div>
                <table class="table table-responsive-md table-striped text-center w-100" id="userList">
                <thead>
                    <tr class="table-light">
                        <td>
                            <input id="selectAll" class="form-check" type="checkbox"/>
                        </td>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Is Admin</th>
                    </tr>
                </thead>
                <tbody>
                    @for(int i = 0;i < @Model.Count;i++) {
                        <div>
                            <input asp-for="@Model[i].Id" value="@Model[i].Id" hidden/>
                            <input asp-for="@Model[i].Name" value="@Model[i].Name" hidden/>
                            <input asp-for="@Model[i].Email" value="@Model[i].Email" hidden />
                            <input asp-for="@Model[i].Status" value="@Model[i].Status" hidden />
                            <input asp-for="@Model[i].IsAdmin" value="@Model[i].IsAdmin" hidden />
                        </div>
                        <tr>
                            <td>
                                <input asp-for="@Model[i].IsSelected" type="checkbox" class="form-check row-check"/>
                            </td>
                            <td>@Model[i].Id</td>
                            <td>
                                <a asp-action="Index" asp-controller="ManageUserCollections" asp-area="admin" asp-route-userId="@Model[i].Id">
                                    @Model[i].Name
                                </a>
                            </td>
                            <td>@Model[i].Email</td> 
                            <td>@Model[i].Status</td> 
                            <td>
                                    @if(Model[i].IsAdmin)
                                    {
                                        <i class="bi bi-check-circle-fill isAdmin"></i>
                                    }
                                </td> 
                        </tr>
                    }
                </tbody>
            </table>
                
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#userList').DataTable({
                "paging": false,
                "searching": true,
                "ordering": false,
                "info": false
            });
        });
    </script>

    <script>
        $('#selectAll').change(function() {
            var isChecked = $(this).prop('checked');
            $('.row-check').prop('checked', isChecked);
        })
    </script>
}
