@model CollectionManager.Models.ItemModel

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow">
                <div class="card-header bg-warning text-white">
                    <h1 class="text-center">@Resource.Areyousure?</h1>
                </div>
                <div class="card-body">
                    <div>

                        @await Component.InvokeAsync("Item", new { Id = @Model.Id })


                        <form asp-action="DeleteConfirmed" asp-route-collectionId="@Model.CollectionId">
                            <input type="hidden" asp-for="Id" />
                            <div class="d-flex flex-column flex-sm-row gap-1 justify-content-center align-items-center mt-3">
                                <button type="submit" class="btn btn-danger w-50">@Resource.Delete</button>
                                <a asp-action="Index"
                                   asp-controller="ProfileCollectionItems"
                                   asp-route-collectionId="@Model.CollectionId"
                                   class="btn btn-dark w-50">@Resource.BackToList</a>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

