@model ItemWithReactionModel
@{
    int totalLike = Model.Likes;
    int totalComment = Model.Comments.Count;
    bool canReact = (bool)ViewData["canReact"];
}
<div class="container">
    <div class="d-flex justify-content-start row">
        <div class="col-md-10">
            <div class="card bg-white rounded-0 border-0">
                <div class="card-header py-0 bg-info text-white fs-5 rounded-5">Item details</div>
                <div class="card-body" style="font-size:15px;">
                    <div class="row mb-1">
                        <div class="col-md-2">Name:</div>
                        <div class="col-md-10 text-black-50">@Model.Name</div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-2">Tags:</div>
                        <div class="col-md-10">
                            @foreach (var tag in Model.Tags)
                            {
                                <span class="badge bg-dark rounded-pill">@tag.Name</span>
                            }
                        </div>
                    </div>
                    @foreach (var field in Model.FieldValues)
                    {
                        <div class="row mb-1">
                            <div class="col-md-2">@field.Name:</div>
                            <div class="col-md-10">@field.Value</div>
                        </div>
                    }


                </div>

                <div class="card-footer border-0 bg-white" style="font-size: 13px; color: gray;">
                    <div class="d-flex gap-5 px-2 justify-content-md-start justify-content-between border-bottom">
                        @if(totalLike > 0)
                        {
                            <p id="likeCountContainer">
                                <i class="bi bi-hand-thumbs-up-fill text-info me-1"></i>
                                <span id="likeCount">@totalLike</span>
                            </p>
                        }
                        else
                        {
                            <p id="likeCountContainer" class="d-none">
                                <i class="bi bi-hand-thumbs-up-fill text-info me-1"></i>
                                <span id="likeCount"></span>
                            </p>
                        }

                        @if(totalComment > 0) 
                        {
                            if(totalComment == 1)
                            {
                                <p id="commentCountContainer">
                                    <span id="commentCount">@totalComment comment</span> 
                                </p>
                            }
                            else
                            {
                                <p id="commentCountContainer">
                                    <span id="commentCount">@totalComment comments</span>
                                </p>
                            }
                        }
                        else
                        {
                            <p id="commentCountContainer" class="d-none">
                                <span id="commentCount"></span>
                            </p>
                        }

                    </div>

                    @if(canReact == true)
                    {
                        <div class="d-flex gap-md-5 justify-content-md-start justify-content-between mt-1 like-comment">
                            <button 
                                class="btn px-4 py-2 shadow-none" 
                                id="likeButton">
                                <i class="bi bi-hand-thumbs-up me-1"></i>
                                Like
                            </button>
                            <button 
                                class="btn px-4 py-2 shadow-none"
                                id="comment-inputButton">
                                <i class="bi bi-chat me-1"></i>
                                Comment
                            </button>
                        </div>
                    }

                </div>

            </div>
        </div>
    </div>
</div>

<div class="container mt-2">
    <div class="d-flex justify-content-start row">
         <div class="col-md-8">
            <div class="d-flex flex-column comment-section">
                <div class="bg-light p-2 d-none" id="comment-input">
                     <div class="d-flex flex-row align-items-start">
                        <img
                        class="rounded-circle"
                        src="~/images/user.jpg"
                        width="40"
                        />
                        <textarea
                        id="commentText"
                        class="form-control ms-2 shadow-none comment-input"
                        ></textarea>
                     </div>

                      <div class="mt-2 text-end">
                            <button
                            id="commentButton"
                            class="btn btn-info btn-sm shadow-none"
                            type="button" 
                            disabled
                            >Post comment</button>
                            <button
                            class="btn btn-outline-secondary btn-sm ml-1 shadow-none"
                            type="button"
                            id="comment-cancel"
                            >
                            Cancel
                            </button>
                     </div>
                </div>

      <div id="commentsContainer">
            @foreach(var comment in @Model.Comments)
            {
                <div class="bg-white p-2">
                    <div class="d-flex flex-row user-info">
                    <img
                        class="rounded-circle"
                        src="~/images/user.jpg"
                        width="35"
                        height="35"
                    />
                    <div class="d-flex flex-column justify-content-start ms-2">
                        <a class="d-block font-weight-bold comment-name">@comment.Commenter</a>
                        <span class="comment-date text-black-50">@comment.CreatedAt</span>
                        
                        <div class="mt-2">
                            <p class="comment-text">
                                @comment.Text
                            </p>
                        </div>
                    </div>
                    </div>
                </div>  
            }
        </div>
        
        </div>
    </div>
    </div>
</div>
