@model IEnumerable<CollectionWithItemCountModel>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Author</th>
                <th>Items</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var collection in Model)
            {
                <tr>
                    <td>@collection.Name</td>
                    <td>@collection.Description</td>
                    <td>@collection.Category</td>
                    <td>@collection.UserId</td>
                    <td>@collection.ItemCount</td>
                    <td>
                        <a asp-action="Edit" asp-controller="Collections" asp-route-id="@collection.Id">Edit</a> |
                        <a asp-action="Index" asp-controller="Collections" asp-route-Id="@collection.Id">View items</a> |
                        <a asp-action="Delete" asp-controller="Collections" asp-route-id="@collection.Id">Delete</a> |
                        <a asp-action="ManageCustomField" asp-controller="Collections" asp-route-collectionId="@collection.Id">Manage custom field</a> |
                        <a asp-action="Create" asp-controller="Items" asp-route-collectionId="@collection.Id">Add Item</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>