@model IEnumerable<CollectionWithItemCountModel>

@{
    bool actionPermitted = (bool)ViewData["Action"];
    bool displayAuthor = (bool)ViewData["DisplayAuthor"];
    bool isAdmin = (bool)ViewData["IsAdmin"];
}
<div class="container">
    <div class="d-flex justify-content-center row mt-3 min_width-567">
        <div class="col card shadow p-0" >
            <div class="card-header bg-primary text-white text-center">
                <h1>@Resource.Collections</h1>
            </div>
            <div class="card-body">
                 <table class="table table-striped text-center w-100" style="font-size:15px;">
        <thead>
            <tr>
                <th>@Resource.Name</th>
                <th>@Resource.Description</th>
                <th>@Resource.Category</th>
                <th>@Resource.Items</th>
                @if(displayAuthor)
                {
                    <th>@Resource.Author</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var collection in Model)
            {
                <tr>
                    <td>@collection.Name</td>
                    <td>@collection.Description</td>
                    <td>@collection.Category</td>
                    <td>@collection.ItemCount</td>
                    @if(displayAuthor)
                    {
                        <td>
                            <a asp-action="Index" asp-controller="OtherUserProfile" asp-route-userId="@collection.UserId" asp-route-collectionId="@collection.Id">@collection.Author</a>
                        </td>
                    }

                    @if(isAdmin)
                    {
                        <td>
                             <partial name="_AdminCollectionActionPartial" model="new {collectionId = collection.Id, userId = collection.UserId}" />
                        </td>
                    }
                    else if(actionPermitted)
                    {
                        <td>
                            <partial name="_CollectionActionPartial" model="@collection.Id" />
                        </td>
                    }
                    else
                    {
                        <td style="width:2rem;">
                            <a class="btn btn-outline-info" asp-action="Collection" asp-controller="Collections" asp-route-collectionId="@collection.Id">View</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
            </div>
        </div>
    </div>
</div>
