@model CollectionWithItemsReactionCountModel
@{
    bool action = (bool)ViewData["Action"];
    bool isAdmin = (bool)ViewData["IsAdmin"];
    string userId = (string)ViewData["UserId"];
}
<div class="container">
    <div class="d-flex justify-content-start row mt-2">
        <div class="col">
            <div class="card bg-white rounded-0 border-0 min_width-567">
                <div class="card-header py-0 bg-info text-white rounded-5">Collectioin details</div>
                <div class="card-body" style="font-size:14px;">
                    <div class="row  mb-1">
                        <div class="col-md-2">Name:</div>
                        <div class="col-md-10 text-black-50">@Model.Name</div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-2">Description:</div>
                        <div class="col-md-10 text-black-50">
                           @Model.Description
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        @if(isAdmin && !string.IsNullOrEmpty(userId))
        {
            <a 
                asp-action="Create" 
                asp-controller="ManageUserCollectionItems" 
                asp-route-collectionId="@Model.Id"
                asp-route-userId="@userId"
                class="btn btn-primary px-4 mb-2">
                Add Item
            </a>

        }
        else if(action)
        {
            <a asp-action="Create" asp-controller="ProfileCollectionItems" asp-route-collectionId="@Model.Id" class="btn btn-primary px-4 mb-2">Add Item</a>
        }
    </div>
    <div class="card shadow min_width-567">
        <div class="card-header bg-primary text-white">
            <h1 class="text-center">Items</h1>
        </div>
        <div class="card-body">
       <table class="table table-sm table-striped text-center" style="font-size:15px;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Tags</th>
                <th>Likes</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>

            @{
                var items = Model.Items;
            }
            @foreach (var item in @items)
            {
                <tr>
                    @{
                        var tagList = item.Tags;
                    }
                    <td>@item.Name</td>

                    <td>
                        @foreach (var tag in tagList)
                        {
                            <span class="badge rounded-pill bg-dark">@tag.Name</span>
                        }
                    </td>
                    <td>@item.Likes</td>
                    <td>@item.Comments</td>
                    @if(isAdmin) 
                    {
                        <td>
                            <partial name="_AdminItemActionPartial" model="new {Id = item.Id, CollectionId = Model.Id, UserId = Model.UserId}"></partial>
                        </td>
                    }
                    else if(action)
                    {
                        <td>
                            <partial name="_itemsActionPartial" model="new {Id = item.Id, CollectionId = Model.Id }" />
                        </td>
                    }
                    else
                    {
                        <td style="width:2rem;">
                            <a 
                                asp-action="Items" 
                                asp-controller="Collections" 
                                asp-route-collectionId="@Model.Id" 
                                asp-route-id="@item.Id" 
                                class="btn btn-outline-info"
                            >Details</a>
                        </td>
                    }

                </tr>
            }
        </tbody>
    </table>

        </div>
    </div>
</div>
